* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background: rgb(225, 255, 143);
  background-image: url(images_hw1/main__bg-star.svg);
  background-repeat: no-repeat;
  background-position-x: 63px;
  background-position-y: -330px;
}

.top__content {
  padding-top: 196px;
}

.top__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
}

.top__text {
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

.top__text_bold {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
}

.top__btn {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  margin-top: 48px;
  height: 66px;
  width: 247px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.top__btn_hover:hover {
  background: white;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  transition: 0.5s;
}

.about {
  background: rgb(32, 32, 39);
  padding-top: 94px;
  background-image: url(images_hw1/about_bg-star.svg);
  background-repeat: no-repeat;
  background-position: 0px 42px;
  padding-bottom: 96px;
}

.about__content-title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.about__content-title_mobile {
  display: none;
}

.about__content-text {
  padding-top: 24px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

.about__cards {
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about__cards-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__cards-item {
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 378px;
  height: 473px;
  cursor: pointer;
  transition: 1s;
}

.about__cards-item_hover:hover {
  transition: 1s;
  scale: 1.1;
}

.about__cards-item_big {
  height: 512px;
}

.about__cards-item_biggest {
  height: 551px;
}

.about__cards-number {
  margin-top: 32px;
  margin-left: 32px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  border-radius: 52px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__cards-title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  margin-left: 32px;
  margin-top: 16px;
}

.about__cards-text-mobile {
  display: none;
}

.about__cards-btn-mobile {
  display: none;
}

.games {
  background: rgb(32, 32, 39);
  padding-bottom: 144px;
  background-image: url(images_hw1/mini-games-bg.svg);
  background-repeat: no-repeat;
  background-position-x: 1300px;
  background-position-y: 50px;
}

.games__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.games__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  padding-bottom: 72px;
}

.games__content {
  display: flex;
  justify-content: space-between;
  height: 500px;
  border-radius: 50px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}

.games__content-left {
  padding-left: 48px;
  padding-top: 48px;
}

.games__content_reverse {
  flex-direction: row-reverse;
}

.games__content-title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
}

.games__content-text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  padding-top: 24px;
}

.games__content-btn {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  margin-top: 48px;
  height: 66px;
  width: 247px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.games__content-btn_hover:hover {
  background: white;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  transition: 0.5s;
}

.games__content-image {
  height: 500px;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(images_hw1/mobile_bg-star.svg);
    background-repeat: no-repeat;
    background-position-x: 40px;
    background-position-y: -100px;
  }
  .top__content {
    padding-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__text {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 296px;
  }
  .top__text-bold {
    font-weight: 600;
  }
  .top__btn {
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    margin-top: 36px;
  }
  .about {
    display: none;
  }
  .games {
    padding-bottom: 55px;
  }
  .games__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    padding-top: 48px;
  }
  .games__container {
    gap: 24px;
  }
  .games__content-mobile1 {
    height: 527px;
  }
  .games__content-mobile2 {
    height: 566px;
  }
  .games__content-mobile3 {
    height: 566px;
  }
  .games__content-mobile4 {
    height: 527px;
  }
  .games__content-mobile5 {
    height: 605px;
  }
  .games__content-mobile6 {
    height: 625px;
  }
  .games__content {
    display: flex;
    border-radius: 50px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    flex-direction: column-reverse;
  }
  .games__content-left {
    padding-top: 29px;
    padding-left: 29px;
  }
  .games__content-title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
  }
  .games__content-text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    padding-top: 16px;
  }
  .games__content-btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    width: 285px;
    height: 55px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .games__content-image {
    height: 285px;
  }
  .footer {
    height: 100px;
    background: rgb(189, 237, 53);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
  }
}/*# sourceMappingURL=style.css.map */