* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    background: rgb(188, 236, 48);
    overflow-x: hidden;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;
    background: rgb(225, 255, 143);
    background-image: url(images_hw1/main__bg-star.svg);
    background-repeat: no-repeat;
    background-position-x: 63px;
    background-position-y: -330px;
}    

.top__content {
    padding-top: 196px;
}

.top__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
}

.top__text {
    margin-top: 24px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
}

.top__text_bold {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
}

.top__btn {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    margin-top: 48px;
    height: 66px;
    width: 247px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    
}

.top__btn_hover:hover {
    background: white;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    transition: 0.5s;
}

@keyframes scroll-left {
    from  {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.scroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    background-size: cover; 
    padding-top: 27px;
    padding-bottom: 27px;
    display: flex;
    animation: scroll-left linear 10s infinite;
    animation-direction: normal;
}

.scroll-text {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.scroll-text::after {
    content: "";
    display: inline-block;
    background-image: url(images_hw1/star-separator.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 36px;
    margin-left: 51px;
    margin-right: 51px;

}

.about {
    background: rgb(32, 32, 39);
    padding-top: 94px;
    background-image: url(images_hw1/about_bg-star.svg);
    background-repeat: no-repeat;
    background-position: 0px 42px;
    padding-bottom: 50px;
}

.about__content-title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}

.about__content-title_mobile {
    display: none;
}

.about__content-text {
    padding-top: 24px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
}


.about__cards {
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about__cards-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about__cards-item {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    width: 378px;
    height: 473px;
    cursor: pointer;
    transition: 1s;
}

.about__cards-item_hover:hover {
    transition: 1s;
    scale: 1.1;
}

.about__cards-item_big {
    height: 512px;
}

.about__cards-item_biggest {
    height: 551px;
}

.about__cards-number {
    margin-top: 32px;
    margin-left: 32px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    border-radius: 52px;
    background: rgb(247, 247, 247);
    width: 108px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__cards-title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    margin-left: 32px;
    margin-top: 16px;
}

.about__cards-text-mobile {
    display: none;
}

.about__cards-btn-mobile {
    display: none;
}

.games {
    background: rgb(32, 32, 39);
    padding-bottom: 144px;
    background-image: url(images_hw1/mini-games-bg.svg);
    background-repeat: no-repeat;
    background-position-x: 1300px;
    background-position-y: 50px;
}   

.games__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.games__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    padding-bottom: 72px;
    padding-top: 50px;
}

.games__content {
    display: flex;
    justify-content: space-between;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
}

.games__content-left {
    padding-left: 48px;
    padding-top: 48px;
}

.games__content_reverse {
    flex-direction: row-reverse;
}

.games__content-title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
}

.games__content-text {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    padding-top: 24px;
}

.games__content-btn {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    margin-top: 48px;
    height: 66px;
    width: 247px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.games__content-btn_hover:hover {
    background: white;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    transition: 0.5s;
}

.games__content-image {
    height: 500px;
}

.footer {
    height: 150px;
    background: rgb(189, 237, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
}

@import 'mobile';
@import 'tablet';